/* Home */
div.stVerticalBlock.st-emotion-cache-112g0wn.eiemyj3{
    background-color: white;
    border-radius: 10px;
}

div.stVerticalBlock.st-emotion-cache-t9yc3p.eiemyj3{
    background-color: white;
    border-radius: 10px;    
}

div.stExpander.st-emotion-cache-0.enj44ev0{
    background-color: white
}


/* Sidebar */
div.st-emotion-cache-6qob1r.e1dbuyne8 {
    background-color: #577BC1;
}


/* Tulisan */
div.st-emotion-cache-89jlt8 e121c1cl0{
    color: black;
}
